
@mixin mp-x($value) {
  margin: $value;
  padding: $value;
}

header {
  background-color: $main-color;
  color: $secondary;
  padding: 20px;
  text-align: center;

  h1 {
    margin: 0;
  }
}

nav {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    a {
      color: $secondary;
      text-decoration: none;

      &:hover{
        color: $secondary;
        padding-bottom: 5px;
        border-bottom: solid $secondary;
      }

    }
  }
}

main {
  padding: 20px;

  div {
    h1 {
      font-size: 28px;
      margin-bottom: 20px;
    }

    button {
      background-color: $main-color;
      color: $secondary;
      padding: 10px;
      border-radius: 5px;
      border: solid $secondary;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: $secondary;
        color: $main-color;
        border: solid $main-color;
      }
    }

    #div_view_article_button{
      display: flex;
    }

    #p_about{
      background-color: #f8f8f8;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 20px auto;
      padding: 20px;
      max-width: 800px;
      font-family: sans-serif;
      font-size: 18px;
      line-height: 1.5;
      text-align: justify;
    }

    form {
      div {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        label {
          margin-bottom: 5px;
        }

        input {
          padding: 10px;
          border-radius: 5px;
          border: 1px solid $main-color;
        }
      }
    }
  }
}

article {
  background-color:$secondary;
  border: 2px solid $main-color;
  border-radius: 10px;
  display: inline-block;
  @include mp-x(5px);
  vertical-align: top;
  width: calc(33.33% - 20px);
  cursor: pointer;

  h2 {
    color: $main-color;
    font-size: 24px;
    margin-top: 0;
  }

  p {
    color: $main-color;
    font-size: 16px;
  }

  a {
    color: $secondary;
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
  }

  &:hover {
    background-color: $main-color;

    p {
      color: $secondary;
    }

    h2 {
      color: $secondary;
    }

    a {
      color: $secondary;
      border-bottom: 1px solid $secondary;
      transition: all 1s ease;
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $main-color;
  color: $secondary;
  padding: 10px;
  text-align: center;
}