{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            <p id="p_about">
                Bonjour à tous ! Je m'appelle Jérémy Ducourthial et je suis actuellement étudiant en deuxième année de BUT informatique à Clermont-Ferrand. Je suis passionné par le développement web et j'ai récemment commencé à apprendre Symfony, un framework PHP très populaire.<br><br>

                Dans le cadre de mon stage, j'ai pour mission de créer un blog en utilisant Symfony. Cela me permettra de mettre en pratique mes compétences en développement web et de continuer à apprendre ce langage en profondeur.<br><br>

                Au cours des prochaines semaines, je partagerai mes découvertes et mes progrès sur ce blog. J'espère que cela pourra aider d'autres personnes qui souhaitent également apprendre Symfony ou qui cherchent des idées pour leur propre projet de développement web.<br><br>

                N'hésitez pas à me laisser un commentaire ou à me contacter si vous avez des questions ou des suggestions pour améliorer mon blog. Je suis ouvert à toutes les critiques constructives et j'ai hâte de vous montrer ce que je suis capable de faire !
            </p>
        </div>
    </main>
{% endblock %}
