{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            <h1>Liste des articles</h1>
            {% for article in articles %}
                <article>
                    <h2>{{ article.name }}</h2>
                    <p>{{ article.text }}</p>
                    <a href="{{ path('article_item', {'id': article.id}) }}">Aller vers l'article</a>
                </article>
            {% endfor %}
        </div>
    </main>
{% endblock %}
