{% block header %}
    <header>
        <h1>Blog Symfony</h1>
        <nav>
            <ul>
                <li><a href="{{ path('main') }}">Accueil</a></li>
                <li><a href="about">À propos</a></li>
                <li><a href="login">Connexion</a></li>
                <li><a href="{{ path('form') }}">Article</a></li>
            </ul>
        </nav>
    </header>
{% endblock %}