{% extends 'base.html.twig' %}
{% block body %}
    <main>
        <div>
            <h1>Create a new article</h1>
            {{ form_start(form) }}
            {{ form_row(form.name) }}
            {{ form_row(form.text) }}
            <button type="submit">Ajouter</button>
            {{ form_end(form) }}
        </div>
    </main>
{% endblock %}